target/
*.db
*.sqlite
*.sqlite3
*.log

.idea/
.vscode/
*.iml

.classpath
.factorypath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/

/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/

